body{
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTaFz8GjBSrxHHYY8xXCMha4WN68PLGMVlng&usqp=CAU');
   background-size: cover;
   background-position: center center;
}